body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* padding: 3rem; */
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #f2e5d7;
  color: #262322;
  overflow: hidden;
  /* justify-content: center; */
}
#root {
  width: 100%;
  height: 100%;
}
.App {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  /* justify-items: center; */
  margin: 3rem;
  position: relative;
}

a {
  color: #262322;
  font-size: 2rem;
  padding-right: 1rem;
  position: relative;
}
a div {
  position: absolute;
  background-color: red;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 1rem;
  display: flex;
  place-items: center;
  justify-content: center;
  top: -0.7rem;
  right: 0;
}
a:hover {
  border-right: 4px solid #262322;
}
.home--img {
  max-width: 100%;
  height: 300px;
}
/* a:active {
  border-right: 2px solid black;
} */
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}
main {
  max-width: 100%;
}

.new {
  border-radius: 10px;
  border: none;
  padding: 0.7rem;
}
.new:hover {
  opacity: 0.7;
}
/* .new:active {
  transform: scale(0.9);
} */
.new > a {
  font-size: 1.5rem;
  text-decoration: none;
}
.new > a:hover {
  border: none;
}
section {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.book-list {
  overflow-y: scroll;
  height: 40vh;
}
.done-list {
  overflow-y: scroll;
  height: 70vh;
}
section > div {
  width: 80%;
  background-color: #262322;
  color: #f2e5d7;
  padding: 0.1rem 1rem;
  border-radius: 10px;
  line-height: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section > div:hover {
  opacity: 0.9;
}
section > div h1 {
  font-size: 1.2rem;
}
.book--detail .detail--icons {
  display: flex;
  gap: 1rem;
}
.book--detail .detail--icons > * {
  font-size: 1.5rem;
  cursor: pointer;
}
.book--detail .detail--icons > *:hover {
  transform: scale(1.05);
  opacity: 0.7;
}
.book--detail .detail--icons > *:active {
  transform: scale(0.9);
}
.book--form {
  position: fixed;
  top: 65%;
  /* left: 20%; */
  height: 20%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 1rem; */
  border-radius: 10px;
  gap: 1rem;
  /* background-color: #262322; */
  color: #f2e5d7;
}
.book--form input {
  width: 99%;
  height: 33%;
  border-radius: 10px;
  border: none;
  padding-left: 1rem;
}
.book--form input:focus{
  outline: none;
}
.book--form input[type="submit"] {
  background-color: #262322;
  color: #f2e5d7;
  cursor: pointer;
  width: 100px;
  text-align: center;
  padding: 0.5rem;
}
@media (max-width: 854px) {
  .App {
    margin: 1rem;
  }
}
@media (max-width: 696px) {
  .App {
    display: flex;
    flex-direction: column-reverse;
  }
  main > * {
    text-align: center;
  }
  .new {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  nav {
    flex-direction: row;
    position: fixed;
    top: 90%;
    left: 0;
    justify-content: space-between;
    width: 90%;
    padding: 1rem;
    gap: 0;
    /* z-index: 1; */
  }
  nav a {
    font-size: 2rem;
    padding-top: 0.5rem;
    padding-right: 0;
  }
  a:hover {
    border-right: 0;
    border-top: 4px solid #262322;
  }
  a > div {
    top: -0.5rem;
    right: -0.5rem;
  }
  section {
    max-width: 100%;
    align-self: center;
  }
  section > div {
    width: 90%;
    text-align: left;
  }
  .book--form {
    width: 80%;
    /* height: 15%;
    top: 70%; */
    left: 50%;
    transform: translateX(-50%);

  }
  .book-list {
    height: 45vh;
  }
  .done-list {
    height: 70vh;
  }
  .home--img {
    height: 200px;
  }
}
/* @media (max-height: 650px) {
  body {
    height: 120vh;
  }
  nav {
    top: 80%;
  }
  form {
    position: relative;
    top: 0;
    bottom: 0;
  }
  .book-list {
    max-height: 100%;
    height: 60%;
    overflow: none;
  }
} */
